.idea/
node_modules/*
!node_modules/utils/
!node_modules/infra/

logs/*
!logs/.reserve
npm-debug.log
public/*
!public/assets/
client/vendors/*
!client/vendors/swig/browser/swig.js

.bower
client/scripts/vendors.js