#segment_instructions{
  margin-top: 15px;
  padding: 20px 25px;
  background-color: #fcfcfc;
  border: 1px solid #dfe6eb;
  border-radius: 3px;

  color: #505965;
  font-size: 14px;
  line-height: 19px;

  .@{namespace}.timeline{
    .list-unstyled;

    >.item{
      margin-bottom: 20px;

      >.indicator.number{
        .pull-left;
        background-color: #50d2c2;
        display: inline-block;
        min-width: 30px;
        height: 30px;
        text-align: center;
        color: #FFFFFF;
        line-height: 30px;
        border-radius: 30px;
        font-size: 18px;
      }
      >.content{
        padding-left: 40px;

        >.header{
          >.title{
            color: #505965;
            font-size: 20px;
            line-height: 30px;
          }
        }
        >.body{
          .quote{
            color: #a8acb2;
            border-left: 3px solid #d8d8d8;
            padding-left: 15px;
          }
        }
      }
    }
  }
}